<h3>Edit app settings</h3>
<div class="form-group">
    <label>App title:</label>
    <input type="text" [(ngModel)]="site_settings.title" class="form-control" placeholder="Edit app title">
</div>

<div class="form-group">
    <label>App terms of use:</label>
    <input type="file" accept="application/pdf" (change)="onSelectFile1($event)" class="form-control">
</div>
<div class="form-group">
    <label>App privacy policy:</label>
    <input type="file" accept="application/pdf" (change)="onSelectFile2($event)" class="form-control">
</div>
<h6><input type="checkbox" [checked]="site_settings.credit_builder"
        (change)="site_settings.credit_builder = !site_settings.credit_builder">
    Cedit builder
</h6>
<h6>
    <input type="checkbox" [checked]="site_settings.is_allowed_to_buy"
        (change)="site_settings.is_allowed_to_buy = !site_settings.is_allowed_to_buy">
    Disable all payments
</h6>
<br>
<button type="button" class="btn btn-dark" (click)="admin.editSettings(site_settings)" [disabled]="
!site_settings.title">
    <i class="fas fa-save"></i> Save changes</button>
<br><br><br><br><br><br><br><br>